@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TODO O HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: hidden;

    font-family: 'Poppins', 'Nunito Sans', monospace, sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}   

/* CABECALHO */
header {
    background-color: #141414;
    color: white;
    padding: 1em;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #e9eaed;
    
}

/* CORPO PRINCIPAL */
main {
    height: 90vh;
    background-image: url('../img/pexels5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    padding: 1em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-blur {
    filter: blur(5px);
}

.section-no-blur {
    filter: none;
}

/* FORMULÁRIO DE SINTOMAS */
#div-form {
    background-color: #141414;
    border: 3px solid #e9eaed;
    height: 520px;
    width: 320px;
    text-align: center;
}

#div-form-h1 {
    font-size: 0.8em;
    border-bottom: 3px solid #e9eaed;
    background-color: #e9eaed;
    color: #e6d353;
    text-shadow: 
        0px 1px 2px black,  
        0px 0px 4px black,
        1px 0px 0px black,
        0px 2px 0px black;
    padding: 1em;
}

/* FORMULÁRIO */
#sintomas-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

/* SELECT */
#sintomas {
    margin-top: 0.5em;
    text-transform: capitalize;
    font-family: monospace;
    font-weight: bolder;
    width: 220px;
    height: 30px;
    align-self: center;
}

/* LISTA DE SINTOMAS */
#div-sintomas-list {
    border: 3px solid #e9eaed;
    height: 200px;
    margin-top: 1em;
    text-align: left;
    padding: 2em;
    font-family: 'Nunito Sans', 'Poppins', monospace, sans-serif;
    background-color: #e6d353;
    overflow: auto;
}

/* BOTOES DO FORMULARIO */
#btn-remover-sintomas-selecionados {
    margin-top: 1em;
    padding: 0.5em;
    border: 3px solid #d6be1f;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s; 
}

#btn-remover-sintomas-selecionados:hover {
    margin-top: 1em;
    padding: 0.5em;
    border: 3px solid #e9eaed;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: #d6be1f;
    letter-spacing: 0.09em;
    transform: scale(1.05); 
}

#btn-limpar-tudo {
    margin-top: 0.5em;
    padding: 0.5em;
    border: 3px solid #d6be1f;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s; 
}

#btn-limpar-tudo:hover {
    margin-top: 0.5em;
    padding: 0.5em;
    border: 3px solid #e9eaed;
    background-color: #d6be1f;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05); 
    letter-spacing: 0.09em;
}

#btn-submit {
    margin-top: 2em;
    padding: 0.5em;
    border: 3px solid #d6be1f;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s; 
}

#btn-submit:hover {
    margin-top: 2em;
    padding: 0.5em;
    border: 3px solid #e9eaed;
    background-color: #d6be1f;    
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05); 
    letter-spacing: 0.09em;
}

/* ÁREA DE DIAGNÓSTICO */
#div-area-de-diagnostico {
    background-color: #141414;
    border: 3px solid #e9eaed;
    height: 520px;
    width: 320px;
}

#div-area-de-diagnostico-h1 {
    background-color: #e9eaed;
    padding: 1em;
}

#div-area-de-diagnostico h1 {
    border-bottom: 3px solid #e9eaed;
    font-size: larger;
    text-align: center;
    color: #e6d353;
    text-shadow: 
        0px 1px 2px black,  
        0px 0px 4px black,
        1px 0px 0px black,
        0px 2px 0px black; 
}

/* CABECALHO CLASSIFICACAO */
#div-diagnostico {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#div-diagnostico-classificacao {
    text-align: center;
    color: #e6d353;
}

/* CLASSE DAS DOENCAS */
#nome-da-classe {
    font-size: large;
    text-align: center;
    border: 1px solid #e9eaed;
    background-color: #e9eaed;
    margin-top: 0.2em;
}

/* DOENCAS */
#lista-de-doencas {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #e9eaed;

    text-align: left;
    font-weight: bold;
    font-size: large;
    color: #e9eaed;
    letter-spacing: 0.05em;

    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    max-height: 310px;
    overflow: auto;
}

#lista-de-doencas li {
    padding: 0.2em;
    color: #141414;
    text-align: left;
}

/* INFORMACAO SOBRE A DOENCA E PRECAUCAO */
#section-3 {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#informacao-doenca {
    width: 800px;
    height: 500px;
    border: 6px solid #e6d353;
    background-color: #040f33;
    border-radius: 24px;
    padding: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* 
        z-index: 1000;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);  
    */
}

#informacao-doenca-content {
    background-color: white;
    border-radius: 12px;
    overflow: auto;
    height: 70%;
    padding: 0.5em;
    margin-bottom: 4em;
}

#informacao-doenca h1 {
    color: #e6d353;
    text-align: center; 
    margin-bottom: 0.5em;
    background-color: #141414;
    border-radius: 12px;
}

#informacao-doenca p {
    text-align: justify;
    font-family: 'Nunito Sans', 'Poppins', monospace, sans-serif;
    font-size: large;
    text-transform: capitalize;
    margin-bottom: 0.5em;
}

#div-btn-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-fechar-janela {
    width: 200px;
    height: 40px; 
    border: 3px solid #d6be1f;
    border-radius: 12px;
    
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    
    transition: 0.3s;
}

#btn-fechar-janela:hover {
    transform: scale(1.05); 
    letter-spacing: 0.09em;
    background-color: #d6be1f;
    border: 3px solid #e9eaed;
}